.social {
  position: fixed;
  top: 2rem;
  right: -125px;
  background-color: var(--container-background);
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.social.active {
  right: 0px;
}

.social,
.social > a .fa-chevron-left,
.social.active > a .fa-chevron-left {
  transition: all 0.7s;
}

.social > a .fa-chevron-left {
  transform: rotate(0deg);
}

.social.active > a .fa-chevron-left {
  transform: rotate(180deg);
}

.social.active:hover {
  animation: none;
}

.social:hover {
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}

.social a {
  margin: 0.5rem 0rem 0.5rem 1rem;
}

.social a:last-child {
  margin-right: 1rem;
}

.social a:link {
  color: var(--font-color);
}

.social a:visited {
  color: var(--font-color);
}

.social a:hover {
  color: var(--link-color);
}

.social a:active {
  color: var(--link-active-color);
}
